nodered.json
[
  {
    "id": "7a76c9ed376f878b",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f8aa2faa21c8a9a9",
    "type": "tab",
    "label": "Flow 3",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "c70c04a37b589081",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "3f8fcdbdd2b99540",
    "type": "postgreSQLConfig",
    "name": "",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "dbnobutech",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "nobutech",
    "userFieldType": "str",
    "password": "nobutech123",
    "passwordFieldType": "str"
  },
  {
    "id": "532b0b27072d2d5c",
    "type": "ui_tab",
    "name": "Configurasi",
    "icon": "build",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "687bbcc2f78d2a05",
    "type": "ui_group",
    "name": "Kalibrasi Sensor",
    "tab": "532b0b27072d2d5c",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "a40b362f83237932",
    "type": "ui_tab",
    "name": "Monitoring",
    "icon": "tv",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "1c22e06c4955860c",
    "type": "ui_group",
    "name": "Temperature",
    "tab": "a40b362f83237932",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "f063f307f24ddc9a",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#3d30a1",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#3d30a1",
          "edited": true
        },
        "page-titlebar-backgroundColor": {
          "value": "#3d30a1",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "group-textColor": {
          "value": "#6052cb",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#3d30a1",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "Nobutech Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "true",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "0e2b369a92b156f7",
    "type": "ui_tab",
    "name": "Setup",
    "icon": "dashboard",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "f8cfa3167fc6f8ad",
    "type": "ui_group",
    "name": "Enable_chanel",
    "tab": "0e2b369a92b156f7",
    "order": 1,
    "disp": false,
    "width": 4,
    "collapse": false
  },
  {
    "id": "58ecdd7b712d4872",
    "type": "ui_group",
    "name": "Sensor",
    "tab": "0e2b369a92b156f7",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "de8d00ca645dfede",
    "type": "ui_spacer",
    "z": "7a76c9ed376f878b",
    "name": "spacer",
    "group": "f8cfa3167fc6f8ad",
    "order": 1,
    "width": 4,
    "height": 1
  },
  {
    "id": "5a3bf1e3aa1d21da",
    "type": "inject",
    "z": "7a76c9ed376f878b",
    "d": true,
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 80,
    "wires": [["d658dec3302c5bcd"]]
  },
  {
    "id": "d658dec3302c5bcd",
    "type": "random",
    "z": "7a76c9ed376f878b",
    "name": "",
    "low": 1,
    "high": "20",
    "inte": "true",
    "property": "payload",
    "x": 280,
    "y": 80,
    "wires": [["8ec62862eefcc817"]]
  },
  {
    "id": "8ec62862eefcc817",
    "type": "mqtt out",
    "z": "7a76c9ed376f878b",
    "name": "",
    "topic": "/device1/temp",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c70c04a37b589081",
    "x": 480,
    "y": 80,
    "wires": []
  },
  {
    "id": "5c59e0de27540622",
    "type": "inject",
    "z": "7a76c9ed376f878b",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 220,
    "wires": [["4192e14c35c5d16f"]]
  },
  {
    "id": "e70a2c793489fff3",
    "type": "ui_chart",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "1c22e06c4955860c",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "bezier",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "50",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#914fcf",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 870,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "c30447212ce54d88",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 1",
    "func": "var msgtemp = flow.get(\"lastmsg_chan1\");\n\nif (msgtemp === String(msg.payload[0].instime)) {\n    msg.payload = 0;\n}\nelse {\n    msgtemp = String(msg.payload[0].instime);\n    msg.payload = msg.payload[0].message\n    flow.set(\"lastmsg_chan1\", String(msgtemp));\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 220,
    "wires": [["f35b253cbf479b5a"]]
  },
  {
    "id": "4192e14c35c5d16f",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "Select message, instime from mqdata where topic='/device1/temp' order by instime desc limit 1;",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 330,
    "y": 220,
    "wires": [["c30447212ce54d88"]]
  },
  {
    "id": "f4b1386bab12c6b5",
    "type": "ui_form",
    "z": "7a76c9ed376f878b",
    "name": "",
    "label": "Kalibrasi sensor y = ax + b",
    "group": "687bbcc2f78d2a05",
    "order": 2,
    "width": 0,
    "height": 0,
    "options": [
      {
        "label": "Variabel A",
        "value": "aval",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Variabel B",
        "value": "bval",
        "type": "text",
        "required": true,
        "rows": null
      }
    ],
    "formValue": {
      "aval": "",
      "bval": ""
    },
    "payload": "",
    "submit": "Submit",
    "cancel": "",
    "topic": "topic",
    "topicType": "msg",
    "splitLayout": "",
    "x": 200,
    "y": 800,
    "wires": [["f52fa43f3cb5e31c", "e1d2383f62873d1b"]]
  },
  {
    "id": "78f1cc521a7208c0",
    "type": "ui_text",
    "z": "7a76c9ed376f878b",
    "group": "1c22e06c4955860c",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Last Value",
    "format": "{{msg.payload}} °C",
    "layout": "row-spread",
    "x": 890,
    "y": 300,
    "wires": []
  },
  {
    "id": "8184c3de912f2291",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "INSERT INTO calib (aval, bval, topic) VALUES({{msg.payload.aval}}, {{msg.payload.bval}}, '/device1/{{msg.payload.top}}');",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": "1",
    "outputs": 1,
    "x": 650,
    "y": 1080,
    "wires": [[]]
  },
  {
    "id": "f52fa43f3cb5e31c",
    "type": "ui_dropdown",
    "z": "7a76c9ed376f878b",
    "name": "",
    "label": "",
    "tooltip": "",
    "place": "Select option",
    "group": "687bbcc2f78d2a05",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "x": 180,
    "y": 680,
    "wires": [["e1d2383f62873d1b"]]
  },
  {
    "id": "e2e1f0b4ef93fcba",
    "type": "debug",
    "z": "7a76c9ed376f878b",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 1020,
    "wires": []
  },
  {
    "id": "e1d2383f62873d1b",
    "type": "join",
    "z": "7a76c9ed376f878b",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 410,
    "y": 660,
    "wires": [["476817dc72e47a22"]]
  },
  {
    "id": "476817dc72e47a22",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 2",
    "func": "var g_chan = {};\ng_chan.channel1 = global.get(\"g_channel1\");\ng_chan.channel2 = global.get(\"g_channel2\");\ng_chan.channel3 = global.get(\"g_channel3\");\ng_chan.channel4 = global.get(\"g_channel4\");\ng_chan.channel5 = global.get(\"g_channel5\");\n\nif (msg.payload[0] === g_chan.channel1 || msg.payload[0] === g_chan.channel2 || msg.payload[0] === g_chan.channel3 ||\n    msg.payload[0] === g_chan.channel4 || msg.payload[0] === g_chan.channel5){\n    if(typeof msg.payload[1].aval==\"string\"){\n        var datasen = {};\n        if (msg.payload[0] === g_chan.channel1 )\n            datasen.top = \"channel1\";\n        else if (msg.payload[0] === g_chan.channel2)\n            datasen.top = \"channel2\";\n        else if (msg.payload[0] === g_chan.channel3)\n            datasen.top = \"channel3\";\n        else if (msg.payload[0] === g_chan.channel4)\n            datasen.top = \"channel4\";\n        else if (msg.payload[0] === g_chan.channel5)\n            datasen.top = \"channel5\";\n        datasen.aval = Number(msg.payload[1].aval);\n        datasen.bval = Number(msg.payload[1].bval);\n        if (isNaN(datasen.aval)|| isNaN(datasen.bval)){\n            msg.payload = -1;\n            return msg;\n        }\n        msg.payload = datasen;\n        return msg;\n    }\n    msg.payload = -2;\n    return msg;\n\n}\nelse{\n    msg.payload = -3;\n    return msg;\n}\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 640,
    "wires": [["60373104a928f778"]]
  },
  {
    "id": "6c013a1f592c76b3",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 830,
    "y": 760,
    "wires": []
  },
  {
    "id": "60373104a928f778",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "-1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "-2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "-3",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 470,
    "y": 780,
    "wires": [
      ["f52fa43f3cb5e31c", "54feedc6fbf709ca"],
      ["7b06ddc92da2c639", "f52fa43f3cb5e31c"],
      ["38ecb81edc5832ce", "f52fa43f3cb5e31c"],
      ["e2e1f0b4ef93fcba", "95bf2912ad046756", "8184c3de912f2291"]
    ]
  },
  {
    "id": "87cc84cd73cb9e8e",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "succes",
    "name": "",
    "x": 830,
    "y": 960,
    "wires": []
  },
  {
    "id": "95bf2912ad046756",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 3",
    "func": "msg.payload = 'Success Submit Data';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 960,
    "wires": [["87cc84cd73cb9e8e"]]
  },
  {
    "id": "54feedc6fbf709ca",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 4",
    "func": "msg.payload = 'Gunakan Titik ( . ) Untuk Angka Desimal';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 760,
    "wires": [["6c013a1f592c76b3"]]
  },
  {
    "id": "2f61e10233098d9f",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 830,
    "y": 800,
    "wires": []
  },
  {
    "id": "7b06ddc92da2c639",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 5",
    "func": "msg.payload = 'Memilih Sensor Cukup Sekali';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 800,
    "wires": [["2f61e10233098d9f"]]
  },
  {
    "id": "f46a635029ee3e23",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 830,
    "y": 860,
    "wires": []
  },
  {
    "id": "38ecb81edc5832ce",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 6",
    "func": "msg.payload = 'Silakan Pilih Jenis Sensor Terlebih Dahulu';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 860,
    "wires": [["f46a635029ee3e23"]]
  },
  {
    "id": "c0aa0ca0d5681dbd",
    "type": "ui_button",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "687bbcc2f78d2a05",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Reset Kalibrasi",
    "tooltip": "",
    "color": "white",
    "bgcolor": "red",
    "icon": "undo",
    "payload": "Kalibrasi tiap sensor akan kembali ke dafault ( A = 1, B = 0)",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 200,
    "y": 1160,
    "wires": [["9a45ca57f4dfaa40"]]
  },
  {
    "id": "9a45ca57f4dfaa40",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 1,
    "ok": "Ya",
    "cancel": "Tidak",
    "raw": false,
    "topic": "Apakah anda yakin ingin reset konfig kalibrasi?",
    "name": "",
    "x": 370,
    "y": 1160,
    "wires": [["a5c16cf0b59261c3"]]
  },
  {
    "id": "83348bf568c25689",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "succes",
    "name": "",
    "x": 830,
    "y": 1120,
    "wires": []
  },
  {
    "id": "a5c16cf0b59261c3",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Ya",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Tidak",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 1160,
    "wires": [["89177a3674f364e9"], []]
  },
  {
    "id": "89177a3674f364e9",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 7",
    "func": "msg.payload = 'Konfigurasi Kembali ke default';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 1140,
    "wires": [["83348bf568c25689", "a53de942f34c5676"]]
  },
  {
    "id": "a53de942f34c5676",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "INSERT INTO calib (aval, bval, topic) VALUES(1, 0, '/device1/temp');\nINSERT INTO calib (aval, bval, topic) VALUES(1, 0, '/device1/hum');\nINSERT INTO calib (aval, bval, topic) VALUES(1, 0, '/device1/co2');",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": "1",
    "outputs": 1,
    "x": 810,
    "y": 1180,
    "wires": [[]]
  },
  {
    "id": "f35b253cbf479b5a",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 220,
    "wires": [[], ["e70a2c793489fff3", "78f1cc521a7208c0", "8272fa3e72c72236"]]
  },
  {
    "id": "93b2eae297085e3d",
    "type": "file in",
    "z": "7a76c9ed376f878b",
    "name": "conf",
    "filename": "/home/nobutech/mqtt-sub/conf/channel_opt.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 210,
    "y": 560,
    "wires": [["ac11a0fc33f79a6e"]]
  },
  {
    "id": "429fab375915e513",
    "type": "link in",
    "z": "7a76c9ed376f878b",
    "name": "link in 1",
    "links": ["a9a1afb4e7511c0a"],
    "x": 115,
    "y": 560,
    "wires": [["93b2eae297085e3d"]]
  },
  {
    "id": "7536422b118f50b5",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 560,
    "y": 560,
    "wires": [["f52fa43f3cb5e31c"]]
  },
  {
    "id": "ac11a0fc33f79a6e",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 28",
    "func": "const arraytmp = [];\nconst json = msg.payload;\nconst obj = JSON.parse(json);\narraytmp[0] = obj.channel1;\narraytmp[1] = obj.channel2;\narraytmp[2] = obj.channel3;\narraytmp[3] = obj.channel4;\narraytmp[4] = obj.channel5;\n\n\nmsg.payload = arraytmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 560,
    "wires": [["7536422b118f50b5"]]
  },
  {
    "id": "1ce7942655fc9b2a",
    "type": "inject",
    "z": "7a76c9ed376f878b",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 400,
    "wires": [["93b2eae297085e3d", "20fb92d9fb718f16"]]
  },
  {
    "id": "3c84945d20911cd7",
    "type": "file",
    "z": "7a76c9ed376f878b",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan1.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 920,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "8272fa3e72c72236",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 29",
    "func": "var msgtemp = flow.get(\"lastmsg_chan1\");\nmsg.payload = msgtemp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 380,
    "wires": [["3c84945d20911cd7"]]
  },
  {
    "id": "20fb92d9fb718f16",
    "type": "file in",
    "z": "7a76c9ed376f878b",
    "name": "conf",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan1.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 310,
    "y": 360,
    "wires": [["bb84f53f02f6fe05"]]
  },
  {
    "id": "26bcd5a846a9ea34",
    "type": "debug",
    "z": "7a76c9ed376f878b",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 420,
    "wires": []
  },
  {
    "id": "bb84f53f02f6fe05",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 30",
    "func": "flow.set(\"lastmsg_chan1\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 300,
    "wires": [["26bcd5a846a9ea34"]]
  },
  {
    "id": "4a2b4169cdd5a946",
    "type": "ui_button",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "1c22e06c4955860c",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Clear",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "[]",
    "payloadType": "json",
    "topic": "topic",
    "topicType": "msg",
    "x": 850,
    "y": 160,
    "wires": [["e70a2c793489fff3", "78f1cc521a7208c0"]]
  },
  {
    "id": "b9774c94499e6a93",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 740,
    "wires": [["f937469ed016ccbe"]]
  },
  {
    "id": "6326827db6dcc35d",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 1",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 690,
    "y": 680,
    "wires": [["4c9c51b37c7acd3b", "f937469ed016ccbe"]]
  },
  {
    "id": "4c9c51b37c7acd3b",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 740,
    "wires": [["b9774c94499e6a93"]]
  },
  {
    "id": "06c7cc11ec68ed89",
    "type": "ui_button",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "group": "58ecdd7b712d4872",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Submit",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "payload",
    "topicType": "msg",
    "x": 2000,
    "y": 1100,
    "wires": [["d48ded4fcaadc6b8", "d71ad9bffdebba62"]]
  },
  {
    "id": "d48ded4fcaadc6b8",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 8",
    "func": "var msgtmp = {};\nvar msgstate = {};\nmsgstate.channel1_state = flow.get(\"channel1_state\");\nif (msgstate.channel1_state){\n    msgtmp.channel1 = flow.get(\"channel1\");\n}\n\nmsgstate.channel2_state = flow.get(\"channel2_state\");\nif (msgstate.channel2_state) {\n    msgtmp.channel2 = flow.get(\"channel2\");\n}\n\nmsgstate.channel3_state = flow.get(\"channel3_state\");\nif (msgstate.channel3_state) {\n    msgtmp.channel3 = flow.get(\"channel3\");\n}\n\nmsgstate.channel4_state = flow.get(\"channel4_state\");\nif (msgstate.channel4_state) {\n    msgtmp.channel4 = flow.get(\"channel4\");\n}\n\nmsgstate.channel5_state = flow.get(\"channel5_state\");\nif (msgstate.channel5_state) {\n    msgtmp.channel5 = flow.get(\"channel5\");\n}\n\n\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2220,
    "y": 1100,
    "wires": [["a003f8a5e4a97846", "a9a1afb4e7511c0a"]]
  },
  {
    "id": "f937469ed016ccbe",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 9",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel1_state\", msg.payload);\n}\nelse{\n    global.set(\"g_channel1\", msg.payload);\n    flow.set(\"channel1\", String(msg.payload));\n}\n \n\nmsgtmp.channel = flow.get(\"channel1\");\nmsgtmp.channel_state = flow.get(\"channel1_state\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1260,
    "y": 680,
    "wires": [["76c1206d4ed3ca14", "aa18ce3127014647"]]
  },
  {
    "id": "76c1206d4ed3ca14",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel1.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1460,
    "y": 680,
    "wires": [[]]
  },
  {
    "id": "e14468e11fd226fc",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "conf",
    "filename": "/home/nobutech/mqtt-sub/conf/channel1.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 410,
    "y": 540,
    "wires": [["9a6fdb5c8ab77191", "8373542527b957ad"]]
  },
  {
    "id": "4ee9ccbdba2ed720",
    "type": "inject",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 640,
    "wires": [
      [
        "e14468e11fd226fc",
        "779725709e06ccbf",
        "293b3788aed037e5",
        "f8662ef596aea12f",
        "78e5e4c48e951072"
      ]
    ]
  },
  {
    "id": "9a6fdb5c8ab77191",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 14",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel1\", msg.payload);\nglobal.set(\"g_channel1\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 500,
    "wires": [["b9774c94499e6a93"]]
  },
  {
    "id": "8373542527b957ad",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 15",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel1_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 580,
    "wires": [["4c9c51b37c7acd3b", "6326827db6dcc35d"]]
  },
  {
    "id": "453639af0beab196",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1020,
    "y": 1000,
    "wires": [["675e04b46a2852d9"]]
  },
  {
    "id": "f2d282f6440298fa",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 2",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 650,
    "y": 940,
    "wires": [["126ff0bd28eb4391", "675e04b46a2852d9"]]
  },
  {
    "id": "126ff0bd28eb4391",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 1000,
    "wires": [["453639af0beab196"]]
  },
  {
    "id": "675e04b46a2852d9",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 16",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel2_state\", msg.payload);\n}\nelse {\n    global.set(\"g_channel2\", msg.payload);\n    flow.set(\"channel2\", String(msg.payload));\n}\n\nmsgtmp.channel = flow.get(\"channel2\");\nmsgtmp.channel_state = flow.get(\"channel2_state\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1220,
    "y": 940,
    "wires": [["572a532f5fa46858", "aa18ce3127014647"]]
  },
  {
    "id": "572a532f5fa46858",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel2.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1420,
    "y": 940,
    "wires": [[]]
  },
  {
    "id": "779725709e06ccbf",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "conf",
    "filename": "/home/nobutech/mqtt-sub/conf/channel2.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 370,
    "y": 800,
    "wires": [["f4e705f793bfab0f", "a6f03925d9d38698"]]
  },
  {
    "id": "f4e705f793bfab0f",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 17",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel2\", msg.payload);\nglobal.set(\"g_channel2\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 760,
    "wires": [["453639af0beab196"]]
  },
  {
    "id": "a6f03925d9d38698",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 18",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel2_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 840,
    "wires": [["126ff0bd28eb4391", "f2d282f6440298fa"]]
  },
  {
    "id": "61da420f0b9ce9e0",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 980,
    "y": 1260,
    "wires": [["b03bc9314643451e"]]
  },
  {
    "id": "1b5c694af22289d4",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 3",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 610,
    "y": 1200,
    "wires": [["9a68f33a7b981a15", "b03bc9314643451e"]]
  },
  {
    "id": "9a68f33a7b981a15",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 1260,
    "wires": [["61da420f0b9ce9e0"]]
  },
  {
    "id": "b03bc9314643451e",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 19",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel3_state\", msg.payload);\n}\nelse {\n    global.set(\"g_channel3\", msg.payload);\n    flow.set(\"channel3\", String(msg.payload));\n}\n\nmsgtmp.channel = flow.get(\"channel3\");\nmsgtmp.channel_state = flow.get(\"channel3_state\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1180,
    "y": 1200,
    "wires": [["dde386c4be36f76a", "aa18ce3127014647"]]
  },
  {
    "id": "dde386c4be36f76a",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel3.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1380,
    "y": 1200,
    "wires": [[]]
  },
  {
    "id": "293b3788aed037e5",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "conf",
    "filename": "/home/nobutech/mqtt-sub/conf/channel3.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 330,
    "y": 1060,
    "wires": [["648c48edc4c38cc9", "626d041d65bb6550"]]
  },
  {
    "id": "648c48edc4c38cc9",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 20",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel3\", msg.payload);\nglobal.set(\"g_channel3\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 1020,
    "wires": [["61da420f0b9ce9e0"]]
  },
  {
    "id": "626d041d65bb6550",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 21",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel3_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 1100,
    "wires": [["9a68f33a7b981a15", "1b5c694af22289d4"]]
  },
  {
    "id": "8a93b692e96e6ffd",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 960,
    "y": 1560,
    "wires": [["f8b232585370eb1e"]]
  },
  {
    "id": "6e62d8a0ff4eec4e",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 4",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 590,
    "y": 1500,
    "wires": [["148a5ad98163f28e", "f8b232585370eb1e"]]
  },
  {
    "id": "148a5ad98163f28e",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 1560,
    "wires": [["8a93b692e96e6ffd"]]
  },
  {
    "id": "f8b232585370eb1e",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 22",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel4_state\", msg.payload);\n}\nelse {\n    global.set(\"g_channel4\", msg.payload);\n    flow.set(\"channel4\", String(msg.payload));\n}\n\nmsgtmp.channel = flow.get(\"channel4\");\nmsgtmp.channel_state = flow.get(\"channel4_state\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1160,
    "y": 1500,
    "wires": [["19a5a44354745c31", "aa18ce3127014647"]]
  },
  {
    "id": "19a5a44354745c31",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel4.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1360,
    "y": 1500,
    "wires": [[]]
  },
  {
    "id": "f8662ef596aea12f",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "conf",
    "filename": "/home/nobutech/mqtt-sub/conf/channel4.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 310,
    "y": 1360,
    "wires": [["d13c3992bd5fa083", "c18aac44e57fce1a"]]
  },
  {
    "id": "d13c3992bd5fa083",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 23",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel4\", msg.payload);\nglobal.set(\"g_channel4\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 1320,
    "wires": [["8a93b692e96e6ffd"]]
  },
  {
    "id": "c18aac44e57fce1a",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 24",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel4_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 1400,
    "wires": [["148a5ad98163f28e", "6e62d8a0ff4eec4e"]]
  },
  {
    "id": "d58834deced47463",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 980,
    "y": 1840,
    "wires": [["bcd06ccecec30bba"]]
  },
  {
    "id": "bc4b93cb9b90153e",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 5",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 610,
    "y": 1780,
    "wires": [["16c1cf228ff98c6f", "bcd06ccecec30bba"]]
  },
  {
    "id": "16c1cf228ff98c6f",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 1840,
    "wires": [["d58834deced47463"]]
  },
  {
    "id": "bcd06ccecec30bba",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 25",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel5_state\", msg.payload);\n}\nelse {\n    global.set(\"g_channel5\", msg.payload);\n    flow.set(\"channel5\", String(msg.payload));\n}\n\nmsgtmp.channel = flow.get(\"channel5\");\nmsgtmp.channel_state = flow.get(\"channel5_state\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1180,
    "y": 1780,
    "wires": [["819fe77c9813a4c5", "aa18ce3127014647"]]
  },
  {
    "id": "819fe77c9813a4c5",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel5.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1380,
    "y": 1780,
    "wires": [[]]
  },
  {
    "id": "78e5e4c48e951072",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "conf",
    "filename": "/home/nobutech/mqtt-sub/conf/channel5.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 330,
    "y": 1640,
    "wires": [["8910480ae83e4589", "ed5f3a5b70371059"]]
  },
  {
    "id": "8910480ae83e4589",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 26",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel5\", msg.payload);\nglobal.set(\"g_channel5\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 1600,
    "wires": [["d58834deced47463"]]
  },
  {
    "id": "ed5f3a5b70371059",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 27",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel5_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 1680,
    "wires": [["16c1cf228ff98c6f", "bc4b93cb9b90153e"]]
  },
  {
    "id": "aa18ce3127014647",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1760,
    "y": 1100,
    "wires": [["06c7cc11ec68ed89"]]
  },
  {
    "id": "d71ad9bffdebba62",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1980,
    "y": 1240,
    "wires": [["06c7cc11ec68ed89"]]
  },
  {
    "id": "734fa411266297c6",
    "type": "inject",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1870,
    "y": 920,
    "wires": [["d71ad9bffdebba62"]]
  },
  {
    "id": "a003f8a5e4a97846",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel_opt.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 2420,
    "y": 1000,
    "wires": [[]]
  },
  {
    "id": "a9a1afb4e7511c0a",
    "type": "link out",
    "z": "f8aa2faa21c8a9a9",
    "name": "link out 1",
    "mode": "link",
    "links": ["429fab375915e513"],
    "x": 2275,
    "y": 920,
    "wires": []
  }
]
