nodered.json
[
  {
    "id": "7a76c9ed376f878b",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f8aa2faa21c8a9a9",
    "type": "tab",
    "label": "Flow 3",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "5929b0421302347b",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 460,
    "wires": [["f937469ed016ccbe"]]
  },
  {
    "id": "bb74a374fd4f2bff",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 620,
    "wires": [["f937469ed016ccbe"]]
  },
  {
    "id": "ccc02e54e14c396e",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 920,
    "wires": [["675e04b46a2852d9"]]
  },
  {
    "id": "a31c3f1441d6aa1d",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 760,
    "wires": [["675e04b46a2852d9"]]
  },
  {
    "id": "84b7833f4f584478",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 1060,
    "wires": [["b03bc9314643451e"]]
  },
  {
    "id": "5ecd04529cb8a9c7",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 1220,
    "wires": [["b03bc9314643451e"]]
  },
  {
    "id": "26591e951d888692",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 1360,
    "wires": [["f8b232585370eb1e"]]
  },
  {
    "id": "79bb82b60376d4f6",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 1520,
    "wires": [["f8b232585370eb1e"]]
  },
  {
    "id": "bebf676faab14e47",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 1660,
    "wires": [["bcd06ccecec30bba"]]
  },
  {
    "id": "256edac9d512c862",
    "type": "junction",
    "z": "f8aa2faa21c8a9a9",
    "x": 1300,
    "y": 1820,
    "wires": [["bcd06ccecec30bba"]]
  },
  {
    "id": "c70c04a37b589081",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "3f8fcdbdd2b99540",
    "type": "postgreSQLConfig",
    "name": "",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "dbnobutech",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "nobutech",
    "userFieldType": "str",
    "password": "nobutech123",
    "passwordFieldType": "str"
  },
  {
    "id": "532b0b27072d2d5c",
    "type": "ui_tab",
    "name": "Configurasi",
    "icon": "build",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "687bbcc2f78d2a05",
    "type": "ui_group",
    "name": "Kalibrasi Sensor",
    "tab": "532b0b27072d2d5c",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "a40b362f83237932",
    "type": "ui_tab",
    "name": "Monitoring",
    "icon": "tv",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "1c22e06c4955860c",
    "type": "ui_group",
    "name": "Channel 1",
    "tab": "a40b362f83237932",
    "order": 1,
    "disp": false,
    "width": "6",
    "collapse": false
  },
  {
    "id": "f063f307f24ddc9a",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#3d30a1",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#3d30a1",
          "edited": true
        },
        "page-titlebar-backgroundColor": {
          "value": "#3d30a1",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "group-textColor": {
          "value": "#6052cb",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#3d30a1",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "Nobutech Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "true",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "0e2b369a92b156f7",
    "type": "ui_tab",
    "name": "Setup",
    "icon": "mode_edit",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "f8cfa3167fc6f8ad",
    "type": "ui_group",
    "name": "Enable_chanel",
    "tab": "0e2b369a92b156f7",
    "order": 1,
    "disp": false,
    "width": 4,
    "collapse": false
  },
  {
    "id": "58ecdd7b712d4872",
    "type": "ui_group",
    "name": "Nama",
    "tab": "0e2b369a92b156f7",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "de8d00ca645dfede",
    "type": "ui_spacer",
    "z": "7a76c9ed376f878b",
    "name": "spacer",
    "group": "f8cfa3167fc6f8ad",
    "order": 1,
    "width": 4,
    "height": 1
  },
  {
    "id": "ac5eb0f6304042fb",
    "type": "ui_group",
    "name": "Satuan",
    "tab": "0e2b369a92b156f7",
    "order": 3,
    "disp": true,
    "width": "3",
    "collapse": false
  },
  {
    "id": "b33a5578d65ddc79",
    "type": "ui_group",
    "name": "Channel 2",
    "tab": "a40b362f83237932",
    "order": 2,
    "disp": false,
    "width": "6",
    "collapse": false
  },
  {
    "id": "50972a523d38c110",
    "type": "ui_group",
    "name": "Channel 3",
    "tab": "a40b362f83237932",
    "order": 3,
    "disp": false,
    "width": "6",
    "collapse": false
  },
  {
    "id": "3b2b98849ed04ff5",
    "type": "ui_group",
    "name": "Channel 4",
    "tab": "a40b362f83237932",
    "order": 4,
    "disp": false,
    "width": "6",
    "collapse": false
  },
  {
    "id": "b8c68fafc99ea7b3",
    "type": "ui_group",
    "name": "Channel 5",
    "tab": "a40b362f83237932",
    "order": 5,
    "disp": false,
    "width": "6",
    "collapse": false
  },
  {
    "id": "e460d696bc22f4e3",
    "type": "ui_group",
    "name": "Interval (second)",
    "tab": "0e2b369a92b156f7",
    "order": 4,
    "disp": true,
    "width": "3",
    "collapse": false
  },
  {
    "id": "5a3bf1e3aa1d21da",
    "type": "inject",
    "z": "7a76c9ed376f878b",
    "d": true,
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 80,
    "wires": [["d658dec3302c5bcd", "fd647f84acf21e46"]]
  },
  {
    "id": "d658dec3302c5bcd",
    "type": "random",
    "z": "7a76c9ed376f878b",
    "name": "",
    "low": 1,
    "high": "20",
    "inte": "true",
    "property": "payload",
    "x": 320,
    "y": 80,
    "wires": [["8ec62862eefcc817"]]
  },
  {
    "id": "8ec62862eefcc817",
    "type": "mqtt out",
    "z": "7a76c9ed376f878b",
    "name": "push dummy data to chan 1 [MQTT]",
    "topic": "channel1",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c70c04a37b589081",
    "x": 590,
    "y": 80,
    "wires": []
  },
  {
    "id": "f4b1386bab12c6b5",
    "type": "ui_form",
    "z": "7a76c9ed376f878b",
    "name": "",
    "label": "Kalibrasi sensor y = ax + b",
    "group": "687bbcc2f78d2a05",
    "order": 2,
    "width": 0,
    "height": 0,
    "options": [
      {
        "label": "Variabel A",
        "value": "aval",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Variabel B",
        "value": "bval",
        "type": "text",
        "required": true,
        "rows": null
      }
    ],
    "formValue": {
      "aval": "",
      "bval": ""
    },
    "payload": "",
    "submit": "Submit",
    "cancel": "",
    "topic": "topic",
    "topicType": "msg",
    "splitLayout": "",
    "x": 140,
    "y": 780,
    "wires": [["f52fa43f3cb5e31c", "e1d2383f62873d1b"]]
  },
  {
    "id": "8184c3de912f2291",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "INSERT INTO calib (aval, bval, topic) VALUES({{msg.payload.aval}}, {{msg.payload.bval}}, '{{msg.payload.top}}');",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": "1",
    "outputs": 1,
    "x": 650,
    "y": 1080,
    "wires": [[]]
  },
  {
    "id": "f52fa43f3cb5e31c",
    "type": "ui_dropdown",
    "z": "7a76c9ed376f878b",
    "name": "",
    "label": "",
    "tooltip": "",
    "place": "Select option",
    "group": "687bbcc2f78d2a05",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "x": 180,
    "y": 680,
    "wires": [["e1d2383f62873d1b"]]
  },
  {
    "id": "e1d2383f62873d1b",
    "type": "join",
    "z": "7a76c9ed376f878b",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 410,
    "y": 680,
    "wires": [["476817dc72e47a22"]]
  },
  {
    "id": "476817dc72e47a22",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 2",
    "func": "var g_chan = {};\ng_chan.channel1 = global.get(\"g_channel1\");\ng_chan.channel2 = global.get(\"g_channel2\");\ng_chan.channel3 = global.get(\"g_channel3\");\ng_chan.channel4 = global.get(\"g_channel4\");\ng_chan.channel5 = global.get(\"g_channel5\");\n\nif (msg.payload[0] === g_chan.channel1 || msg.payload[0] === g_chan.channel2 || msg.payload[0] === g_chan.channel3 ||\n    msg.payload[0] === g_chan.channel4 || msg.payload[0] === g_chan.channel5){\n    if(typeof msg.payload[1].aval==\"string\"){\n        var datasen = {};\n        if (msg.payload[0] === g_chan.channel1 )\n            datasen.top = \"channel1\";\n        else if (msg.payload[0] === g_chan.channel2)\n            datasen.top = \"channel2\";\n        else if (msg.payload[0] === g_chan.channel3)\n            datasen.top = \"channel3\";\n        else if (msg.payload[0] === g_chan.channel4)\n            datasen.top = \"channel4\";\n        else if (msg.payload[0] === g_chan.channel5)\n            datasen.top = \"channel5\";\n        datasen.aval = Number(msg.payload[1].aval);\n        datasen.bval = Number(msg.payload[1].bval);\n        if (isNaN(datasen.aval)|| isNaN(datasen.bval)){\n            msg.payload = -1;\n            return msg;\n        }\n        msg.payload = datasen;\n        return msg;\n    }\n    msg.payload = -2;\n    return msg;\n\n}\nelse{\n    msg.payload = -3;\n    return msg;\n}\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 680,
    "wires": [["60373104a928f778"]]
  },
  {
    "id": "6c013a1f592c76b3",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 830,
    "y": 760,
    "wires": []
  },
  {
    "id": "60373104a928f778",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "-1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "-2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "-3",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 470,
    "y": 780,
    "wires": [
      ["f52fa43f3cb5e31c", "54feedc6fbf709ca"],
      ["7b06ddc92da2c639", "f52fa43f3cb5e31c"],
      ["38ecb81edc5832ce", "f52fa43f3cb5e31c"],
      ["95bf2912ad046756", "8184c3de912f2291"]
    ]
  },
  {
    "id": "87cc84cd73cb9e8e",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "succes",
    "name": "",
    "x": 830,
    "y": 960,
    "wires": []
  },
  {
    "id": "95bf2912ad046756",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 3",
    "func": "msg.payload = 'Success Submit Data';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 960,
    "wires": [["87cc84cd73cb9e8e"]]
  },
  {
    "id": "54feedc6fbf709ca",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 4",
    "func": "msg.payload = 'Gunakan Titik ( . ) Untuk Angka Desimal';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 760,
    "wires": [["6c013a1f592c76b3"]]
  },
  {
    "id": "2f61e10233098d9f",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 830,
    "y": 800,
    "wires": []
  },
  {
    "id": "7b06ddc92da2c639",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 5",
    "func": "msg.payload = 'Memilih Sensor Cukup Sekali';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 800,
    "wires": [["2f61e10233098d9f"]]
  },
  {
    "id": "f46a635029ee3e23",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 830,
    "y": 860,
    "wires": []
  },
  {
    "id": "38ecb81edc5832ce",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 6",
    "func": "msg.payload = 'Silakan Pilih Jenis Sensor Terlebih Dahulu';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 860,
    "wires": [["f46a635029ee3e23"]]
  },
  {
    "id": "c0aa0ca0d5681dbd",
    "type": "ui_button",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "687bbcc2f78d2a05",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Reset Kalibrasi",
    "tooltip": "",
    "color": "white",
    "bgcolor": "red",
    "icon": "undo",
    "payload": "Kalibrasi tiap sensor akan kembali ke dafault ( A = 1, B = 0)",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 200,
    "y": 1160,
    "wires": [["9a45ca57f4dfaa40"]]
  },
  {
    "id": "9a45ca57f4dfaa40",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 1,
    "ok": "Ya",
    "cancel": "Tidak",
    "raw": false,
    "topic": "Apakah anda yakin ingin reset konfig kalibrasi?",
    "name": "",
    "x": 370,
    "y": 1160,
    "wires": [["a5c16cf0b59261c3"]]
  },
  {
    "id": "83348bf568c25689",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "succes",
    "name": "",
    "x": 830,
    "y": 1120,
    "wires": []
  },
  {
    "id": "a5c16cf0b59261c3",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Ya",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Tidak",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 1160,
    "wires": [["89177a3674f364e9"], []]
  },
  {
    "id": "89177a3674f364e9",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 7",
    "func": "msg.payload = 'Konfigurasi Kembali ke default';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 1140,
    "wires": [["83348bf568c25689", "a53de942f34c5676"]]
  },
  {
    "id": "a53de942f34c5676",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "INSERT INTO calib (aval, bval, topic) VALUES(1, 0, 'channel1');\nINSERT INTO calib (aval, bval, topic) VALUES(1, 0, 'channel2');\nINSERT INTO calib (aval, bval, topic) VALUES(1, 0, 'channel3');\nINSERT INTO calib (aval, bval, topic) VALUES(1, 0, 'channel4');\nINSERT INTO calib (aval, bval, topic) VALUES(1, 0, 'channel5');",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": "1",
    "outputs": 1,
    "x": 810,
    "y": 1180,
    "wires": [[]]
  },
  {
    "id": "93b2eae297085e3d",
    "type": "file in",
    "z": "7a76c9ed376f878b",
    "name": "read channel_opt.txt",
    "filename": "/home/nobutech/mqtt-sub/conf/channel_opt.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 420,
    "y": 560,
    "wires": [["ac11a0fc33f79a6e"]]
  },
  {
    "id": "429fab375915e513",
    "type": "link in",
    "z": "7a76c9ed376f878b",
    "name": "link in 1",
    "links": ["a9a1afb4e7511c0a"],
    "x": 75,
    "y": 560,
    "wires": [["93b2eae297085e3d"]]
  },
  {
    "id": "7536422b118f50b5",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "convert payload to options",
    "rules": [
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 620,
    "wires": [["f52fa43f3cb5e31c"]]
  },
  {
    "id": "ac11a0fc33f79a6e",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "save data to context flow",
    "func": "const arraytmp = [];\nconst json = msg.payload;\nconst obj = JSON.parse(json);\narraytmp[0] = obj.channel1;\narraytmp[1] = obj.channel2;\narraytmp[2] = obj.channel3;\narraytmp[3] = obj.channel4;\narraytmp[4] = obj.channel5;\n\nflow.set(\"f_label_chart_1\", obj.channel1);\nflow.set(\"f_label_chart_2\", obj.channel2);\nflow.set(\"f_label_chart_3\", obj.channel3);\nflow.set(\"f_label_chart_4\", obj.channel4);\nflow.set(\"f_label_chart_5\", obj.channel5);\n\n\nmsg.payload = arraytmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 560,
    "wires": [["7536422b118f50b5"]]
  },
  {
    "id": "1ce7942655fc9b2a",
    "type": "inject",
    "z": "7a76c9ed376f878b",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 400,
    "wires": [
      [
        "93b2eae297085e3d",
        "20fb92d9fb718f16",
        "77ea216fa5f757fd",
        "d2dbc529e05f6007",
        "9c1c9ae792248881",
        "e8ae7a861e96a357"
      ]
    ]
  },
  {
    "id": "20fb92d9fb718f16",
    "type": "file in",
    "z": "7a76c9ed376f878b",
    "name": "get last time update table chan 1",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan1.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 450,
    "y": 200,
    "wires": [["bb84f53f02f6fe05"]]
  },
  {
    "id": "bb84f53f02f6fe05",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "save data to context flow",
    "func": "flow.set(\"lastmsg_chan1\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "e70a2c793489fff3",
    "type": "ui_chart",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "1c22e06c4955860c",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "{{msg.topic}}",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "bezier",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "50",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#914fcf",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 2590,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "c30447212ce54d88",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 1",
    "func": "var msgtemp = flow.get(\"lastmsg_chan1\");\nvar msgtop = flow.get(\"f_label_chart_1\");\nif(msg.payload.length <= 0){\n    msg.payload = 0;\n    return msg;\n}\n\nif (msgtemp === String(msg.payload[0].instime)) {\n    msg.payload = 0;\n}\nelse {\n    if (msgtop !=null){\n        msgtemp = String(msg.payload[0].instime);\n        msg.topic = msgtop;\n        msg.payload = msg.payload[0].message\n        flow.set(\"lastmsg_chan1\", String(msgtemp));\n    }\n    else\n    msg.payload =0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2140,
    "y": 260,
    "wires": [["f35b253cbf479b5a"]]
  },
  {
    "id": "4192e14c35c5d16f",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "Select message, instime from mqdata where topic='channel1' order by instime desc limit 1;",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1970,
    "y": 260,
    "wires": [["c30447212ce54d88"]]
  },
  {
    "id": "78f1cc521a7208c0",
    "type": "ui_text",
    "z": "7a76c9ed376f878b",
    "group": "1c22e06c4955860c",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Last Value",
    "format": "{{msg.payload}} ",
    "layout": "row-spread",
    "x": 2830,
    "y": 180,
    "wires": []
  },
  {
    "id": "f35b253cbf479b5a",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2290,
    "y": 260,
    "wires": [[], ["e70a2c793489fff3", "8272fa3e72c72236", "d2aadfc643d3b806"]]
  },
  {
    "id": "3c84945d20911cd7",
    "type": "file",
    "z": "7a76c9ed376f878b",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan1.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 2700,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "8272fa3e72c72236",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 29",
    "func": "var msgtemp = flow.get(\"lastmsg_chan1\");\nmsg.payload = msgtemp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2510,
    "y": 340,
    "wires": [["3c84945d20911cd7"]]
  },
  {
    "id": "39ab9412778d8e81",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 31",
    "func": "var msgtmp = flow.get(\"f_label_chart_1\");\n\nif(msgtmp != null){\n    msg.topic = msgtmp;\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n    msg.topic = \"channel 1\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1790,
    "y": 200,
    "wires": [["c7652691b524dc89", "5c228d9b2c3fa8d0"]]
  },
  {
    "id": "d2aadfc643d3b806",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 32",
    "func": "var msg_sat = global.get(\"g_channel1_sat\");\nmsg.payload = msg.payload + ' ' + msg_sat;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2510,
    "y": 280,
    "wires": [["78f1cc521a7208c0"]]
  },
  {
    "id": "c7652691b524dc89",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2020,
    "y": 180,
    "wires": [["e70a2c793489fff3", "78f1cc521a7208c0"]]
  },
  {
    "id": "8c53e09464197973",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "[]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2300,
    "y": 60,
    "wires": [["e70a2c793489fff3"]]
  },
  {
    "id": "5c228d9b2c3fa8d0",
    "type": "delay",
    "z": "7a76c9ed376f878b",
    "name": "",
    "pauseType": "delay",
    "timeout": "500",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2010,
    "y": 120,
    "wires": [["1008518e4c682a8e"]]
  },
  {
    "id": "51c15ed90cb8d803",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2620,
    "y": 120,
    "wires": [["78f1cc521a7208c0"]]
  },
  {
    "id": "1008518e4c682a8e",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2170,
    "y": 120,
    "wires": [["51c15ed90cb8d803", "8c53e09464197973"], []]
  },
  {
    "id": "1250e13e33f34637",
    "type": "ui_chart",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "b33a5578d65ddc79",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "{{msg.topic}}",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "bezier",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "50",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#914fcf",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 2590,
    "y": 460,
    "wires": [[]]
  },
  {
    "id": "ad57f808f6f3b5e4",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 43",
    "func": "var msgtemp = flow.get(\"lastmsg_chan2\");\nvar msgtop = flow.get(\"f_label_chart_2\");\nif(msg.payload.length <= 0){\n    msg.payload = 0;\n    return msg;\n}\n\nif (msgtemp === String(msg.payload[0].instime)) {\n    msg.payload = 0;\n}\nelse {\n    if (msgtop !=null){\n        msgtemp = String(msg.payload[0].instime);\n        msg.topic = msgtop;\n        msg.payload = msg.payload[0].message\n        flow.set(\"lastmsg_chan2\", String(msgtemp));\n    }\n    else\n    msg.payload =0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2140,
    "y": 660,
    "wires": [["6d73dfe56c3e6dd5"]]
  },
  {
    "id": "6216d9c370e13e1e",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "Select message, instime from mqdata where topic='channel2' order by instime desc limit 1;",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1970,
    "y": 660,
    "wires": [["ad57f808f6f3b5e4"]]
  },
  {
    "id": "aa3b2143fbc83918",
    "type": "ui_text",
    "z": "7a76c9ed376f878b",
    "group": "b33a5578d65ddc79",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Last Value",
    "format": "{{msg.payload}} ",
    "layout": "row-spread",
    "x": 2830,
    "y": 580,
    "wires": []
  },
  {
    "id": "6d73dfe56c3e6dd5",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2290,
    "y": 660,
    "wires": [[], ["1250e13e33f34637", "f1fb787f2531ed30", "def61a5b92e865fc"]]
  },
  {
    "id": "fb2a47e645745687",
    "type": "file",
    "z": "7a76c9ed376f878b",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan2.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 2700,
    "y": 740,
    "wires": [[]]
  },
  {
    "id": "f1fb787f2531ed30",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 44",
    "func": "var msgtemp = flow.get(\"lastmsg_chan2\");\nmsg.payload = msgtemp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2510,
    "y": 740,
    "wires": [["fb2a47e645745687"]]
  },
  {
    "id": "1872021ad73f06c6",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 45",
    "func": "var msgtmp = flow.get(\"f_label_chart_2\");\n\nif(msgtmp != null){\n    msg.topic = msgtmp;\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n    msg.topic = \"channel 2\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1790,
    "y": 600,
    "wires": [["b00622763d47a03e", "1a28feeb80f756c4"]]
  },
  {
    "id": "def61a5b92e865fc",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 46",
    "func": "var msg_sat = global.get(\"g_channel2_sat\");\nmsg.payload = msg.payload + ' ' + msg_sat;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2510,
    "y": 680,
    "wires": [["aa3b2143fbc83918"]]
  },
  {
    "id": "b00622763d47a03e",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2020,
    "y": 580,
    "wires": [["1250e13e33f34637", "aa3b2143fbc83918"]]
  },
  {
    "id": "fd87e28678397bf5",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "[]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2300,
    "y": 460,
    "wires": [["1250e13e33f34637"]]
  },
  {
    "id": "1a28feeb80f756c4",
    "type": "delay",
    "z": "7a76c9ed376f878b",
    "name": "",
    "pauseType": "delay",
    "timeout": "500",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2010,
    "y": 520,
    "wires": [["23e7bad068447fed"]]
  },
  {
    "id": "ab0a04f8d4f532af",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2620,
    "y": 520,
    "wires": [["aa3b2143fbc83918"]]
  },
  {
    "id": "23e7bad068447fed",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2170,
    "y": 520,
    "wires": [["ab0a04f8d4f532af", "fd87e28678397bf5"], []]
  },
  {
    "id": "293a4773abb000a4",
    "type": "inject",
    "z": "7a76c9ed376f878b",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1550,
    "y": 1100,
    "wires": [
      [
        "ce493eec9a753f12",
        "98acd7039af30bbc",
        "8d65d2119d49ea1c",
        "6216d9c370e13e1e",
        "4192e14c35c5d16f"
      ]
    ]
  },
  {
    "id": "65075583d5fbba62",
    "type": "ui_chart",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "50972a523d38c110",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "{{msg.topic}}",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "bezier",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "50",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#914fcf",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 2590,
    "y": 900,
    "wires": [[]]
  },
  {
    "id": "f88ae0f7bc329ecd",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 47",
    "func": "var msgtemp = flow.get(\"lastmsg_chan3\");\nvar msgtop = flow.get(\"f_label_chart_3\");\nif(msg.payload.length <= 0){\n    msg.payload = 0;\n    return msg;\n}\n\nif (msgtemp === String(msg.payload[0].instime)) {\n    msg.payload = 0;\n}\nelse {\n    if (msgtop !=null){\n        msgtemp = String(msg.payload[0].instime);\n        msg.topic = msgtop;\n        msg.payload = msg.payload[0].message\n        flow.set(\"lastmsg_chan3\", String(msgtemp));\n    }\n    else\n    msg.payload =0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2140,
    "y": 1100,
    "wires": [["757b3da26abe4cae"]]
  },
  {
    "id": "ce493eec9a753f12",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "Select message, instime from mqdata where topic='channel3' order by instime desc limit 1;",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1970,
    "y": 1100,
    "wires": [["f88ae0f7bc329ecd"]]
  },
  {
    "id": "b5dc7c4571a3bb46",
    "type": "ui_text",
    "z": "7a76c9ed376f878b",
    "group": "50972a523d38c110",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Last Value",
    "format": "{{msg.payload}} ",
    "layout": "row-spread",
    "x": 2830,
    "y": 1020,
    "wires": []
  },
  {
    "id": "757b3da26abe4cae",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2290,
    "y": 1100,
    "wires": [[], ["65075583d5fbba62", "e5ec1d32111a819d", "4be9a3147d468b01"]]
  },
  {
    "id": "3cb46f1eeafe481a",
    "type": "file",
    "z": "7a76c9ed376f878b",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan3.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 2700,
    "y": 1180,
    "wires": [[]]
  },
  {
    "id": "e5ec1d32111a819d",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 48",
    "func": "var msgtemp = flow.get(\"lastmsg_chan3\");\nmsg.payload = msgtemp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2510,
    "y": 1180,
    "wires": [["3cb46f1eeafe481a"]]
  },
  {
    "id": "cf2b7b1666017488",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 49",
    "func": "var msgtmp = flow.get(\"f_label_chart_3\");\n\nif(msgtmp != null){\n    msg.topic = msgtmp;\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n    msg.topic = \"channel 3\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1790,
    "y": 1040,
    "wires": [["740e41c28a8a7ab9", "5815858f4ee435db"]]
  },
  {
    "id": "4be9a3147d468b01",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 50",
    "func": "var msg_sat = global.get(\"g_channel3_sat\");\nmsg.payload = msg.payload + ' ' + msg_sat;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2510,
    "y": 1120,
    "wires": [["b5dc7c4571a3bb46"]]
  },
  {
    "id": "740e41c28a8a7ab9",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2020,
    "y": 1020,
    "wires": [["65075583d5fbba62", "b5dc7c4571a3bb46"]]
  },
  {
    "id": "1b64a7c9e7f861c9",
    "type": "ui_ui_control",
    "z": "7a76c9ed376f878b",
    "name": "",
    "events": "change",
    "x": 1540,
    "y": 1020,
    "wires": [
      [
        "cf2b7b1666017488",
        "8df4287828f2452a",
        "13484018866a564b",
        "1872021ad73f06c6",
        "39ab9412778d8e81"
      ]
    ]
  },
  {
    "id": "c3432adf826776ac",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "[]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2300,
    "y": 900,
    "wires": [["65075583d5fbba62"]]
  },
  {
    "id": "5815858f4ee435db",
    "type": "delay",
    "z": "7a76c9ed376f878b",
    "name": "",
    "pauseType": "delay",
    "timeout": "500",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2010,
    "y": 960,
    "wires": [["ea3aa3660521c745"]]
  },
  {
    "id": "98b39f86ef57f6c6",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2620,
    "y": 960,
    "wires": [["b5dc7c4571a3bb46"]]
  },
  {
    "id": "ea3aa3660521c745",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2170,
    "y": 960,
    "wires": [["98b39f86ef57f6c6", "c3432adf826776ac"], []]
  },
  {
    "id": "e92234aa85017a9f",
    "type": "ui_chart",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "3b2b98849ed04ff5",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "{{msg.topic}}",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "bezier",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "50",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#914fcf",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 2590,
    "y": 1340,
    "wires": [[]]
  },
  {
    "id": "4fc03d63056e94f4",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 51",
    "func": "var msgtemp = flow.get(\"lastmsg_chan4\");\nvar msgtop = flow.get(\"f_label_chart_4\");\nif(msg.payload.length <= 0){\n    msg.payload = 0;\n    return msg;\n}\n\nif (msgtemp === String(msg.payload[0].instime)) {\n    msg.payload = 0;\n}\nelse {\n    if (msgtop !=null){\n        msgtemp = String(msg.payload[0].instime);\n        msg.topic = msgtop;\n        msg.payload = msg.payload[0].message\n        flow.set(\"lastmsg_chan4\", String(msgtemp));\n    }\n    else\n    msg.payload =0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2140,
    "y": 1540,
    "wires": [["cc085a38804c047a"]]
  },
  {
    "id": "98acd7039af30bbc",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "Select message, instime from mqdata where topic='channel4' order by instime desc limit 1;",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1970,
    "y": 1540,
    "wires": [["4fc03d63056e94f4"]]
  },
  {
    "id": "308716d01a5f818a",
    "type": "ui_text",
    "z": "7a76c9ed376f878b",
    "group": "3b2b98849ed04ff5",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Last Value",
    "format": "{{msg.payload}} ",
    "layout": "row-spread",
    "x": 2830,
    "y": 1460,
    "wires": []
  },
  {
    "id": "cc085a38804c047a",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2290,
    "y": 1540,
    "wires": [[], ["e92234aa85017a9f", "5a8261a9c514043b", "e6e16595c99dd224"]]
  },
  {
    "id": "4675419e9f36ab8a",
    "type": "file",
    "z": "7a76c9ed376f878b",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan4.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 2700,
    "y": 1620,
    "wires": [[]]
  },
  {
    "id": "5a8261a9c514043b",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 52",
    "func": "var msgtemp = flow.get(\"lastmsg_chan4\");\nmsg.payload = msgtemp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2510,
    "y": 1620,
    "wires": [["4675419e9f36ab8a"]]
  },
  {
    "id": "8df4287828f2452a",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 53",
    "func": "var msgtmp = flow.get(\"f_label_chart_4\");\n\nif(msgtmp != null){\n    msg.topic = msgtmp;\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n    msg.topic = \"channel 4\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1790,
    "y": 1480,
    "wires": [["9b777e368a341575", "62e84519d3762b4b"]]
  },
  {
    "id": "e6e16595c99dd224",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 54",
    "func": "var msg_sat = global.get(\"g_channel4_sat\");\nmsg.payload = msg.payload + ' ' + msg_sat;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2510,
    "y": 1560,
    "wires": [["308716d01a5f818a"]]
  },
  {
    "id": "9b777e368a341575",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2020,
    "y": 1460,
    "wires": [["e92234aa85017a9f", "308716d01a5f818a"]]
  },
  {
    "id": "000226461e3ffe56",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "[]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2300,
    "y": 1340,
    "wires": [["e92234aa85017a9f"]]
  },
  {
    "id": "62e84519d3762b4b",
    "type": "delay",
    "z": "7a76c9ed376f878b",
    "name": "",
    "pauseType": "delay",
    "timeout": "500",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2010,
    "y": 1400,
    "wires": [["8c17e00fa4587223"]]
  },
  {
    "id": "f9838ccbb360cc06",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2620,
    "y": 1400,
    "wires": [["308716d01a5f818a"]]
  },
  {
    "id": "8c17e00fa4587223",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2170,
    "y": 1400,
    "wires": [["f9838ccbb360cc06", "000226461e3ffe56"], []]
  },
  {
    "id": "d2b99237fb610c0e",
    "type": "ui_chart",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "b8c68fafc99ea7b3",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "{{msg.topic}}",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "bezier",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "50",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#914fcf",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 2610,
    "y": 1860,
    "wires": [[]]
  },
  {
    "id": "46eb0e8c73a7ae41",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 55",
    "func": "var msgtemp = flow.get(\"lastmsg_chan5\");\nvar msgtop = flow.get(\"f_label_chart_5\");\nif(msg.payload.length <= 0){\n    msg.payload = 0;\n    return msg;\n}\n\nif (msgtemp === String(msg.payload[0].instime)) {\n    msg.payload = 0;\n}\nelse {\n    if (msgtop !=null){\n        msgtemp = String(msg.payload[0].instime);\n        msg.topic = msgtop;\n        msg.payload = msg.payload[0].message\n        flow.set(\"lastmsg_chan5\", String(msgtemp));\n    }\n    else\n    msg.payload =0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2160,
    "y": 2060,
    "wires": [["2b7c9319a52a48af"]]
  },
  {
    "id": "8d65d2119d49ea1c",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "Select message, instime from mqdata where topic='channel5' order by instime desc limit 1;",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1990,
    "y": 2060,
    "wires": [["46eb0e8c73a7ae41"]]
  },
  {
    "id": "75faf4955767d20f",
    "type": "ui_text",
    "z": "7a76c9ed376f878b",
    "group": "b8c68fafc99ea7b3",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Last Value",
    "format": "{{msg.payload}} ",
    "layout": "row-spread",
    "x": 2850,
    "y": 1980,
    "wires": []
  },
  {
    "id": "2b7c9319a52a48af",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2310,
    "y": 2060,
    "wires": [[], ["d2b99237fb610c0e", "aaac3cd3d5821d09", "7c4f0ce0cc2cc532"]]
  },
  {
    "id": "b7996eff98df0c9e",
    "type": "file",
    "z": "7a76c9ed376f878b",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan5.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 2720,
    "y": 2140,
    "wires": [[]]
  },
  {
    "id": "aaac3cd3d5821d09",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 56",
    "func": "var msgtemp = flow.get(\"lastmsg_chan5\");\nmsg.payload = msgtemp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2530,
    "y": 2140,
    "wires": [["b7996eff98df0c9e"]]
  },
  {
    "id": "13484018866a564b",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 57",
    "func": "var msgtmp = flow.get(\"f_label_chart_5\");\n\nif(msgtmp != null){\n    msg.topic = msgtmp;\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n    msg.topic = \"channel 5\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1810,
    "y": 2000,
    "wires": [["30ebfdd2765f786e", "9160b26b7f7e1a2f"]]
  },
  {
    "id": "7c4f0ce0cc2cc532",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 58",
    "func": "var msg_sat = global.get(\"g_channel5_sat\");\nmsg.payload = msg.payload + ' ' + msg_sat;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2530,
    "y": 2080,
    "wires": [["75faf4955767d20f"]]
  },
  {
    "id": "30ebfdd2765f786e",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2040,
    "y": 1980,
    "wires": [["d2b99237fb610c0e", "75faf4955767d20f"]]
  },
  {
    "id": "226a8992b87f5440",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "[]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 1860,
    "wires": [["d2b99237fb610c0e"]]
  },
  {
    "id": "9160b26b7f7e1a2f",
    "type": "delay",
    "z": "7a76c9ed376f878b",
    "name": "",
    "pauseType": "delay",
    "timeout": "500",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 2030,
    "y": 1920,
    "wires": [["e42e488cb181d77c"]]
  },
  {
    "id": "bd17616406fc3c03",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "false",
        "fromt": "bool",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2640,
    "y": 1920,
    "wires": [["75faf4955767d20f"]]
  },
  {
    "id": "e42e488cb181d77c",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "false",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "true",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 2190,
    "y": 1920,
    "wires": [["bd17616406fc3c03", "226a8992b87f5440"], []]
  },
  {
    "id": "b45c8c92f5c426f0",
    "type": "mqtt out",
    "z": "7a76c9ed376f878b",
    "name": "push dummy data to chan 2 [MQTT]",
    "topic": "channel2",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c70c04a37b589081",
    "x": 590,
    "y": 140,
    "wires": []
  },
  {
    "id": "fd647f84acf21e46",
    "type": "random",
    "z": "7a76c9ed376f878b",
    "name": "",
    "low": 1,
    "high": "20",
    "inte": "true",
    "property": "payload",
    "x": 320,
    "y": 140,
    "wires": [["b45c8c92f5c426f0"]]
  },
  {
    "id": "77ea216fa5f757fd",
    "type": "file in",
    "z": "7a76c9ed376f878b",
    "name": "get last time update table chan 2",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan2.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 450,
    "y": 260,
    "wires": [["9affd5059346e975"]]
  },
  {
    "id": "9affd5059346e975",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "save data to context flow",
    "func": "flow.set(\"lastmsg_chan2\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "d2dbc529e05f6007",
    "type": "file in",
    "z": "7a76c9ed376f878b",
    "name": "get last time update table chan 3",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan3.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 450,
    "y": 320,
    "wires": [["a7572f1c04ad5664"]]
  },
  {
    "id": "a7572f1c04ad5664",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "save data to context flow",
    "func": "flow.set(\"lastmsg_chan3\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "9c1c9ae792248881",
    "type": "file in",
    "z": "7a76c9ed376f878b",
    "name": "get last time update table chan 4",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan4.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 450,
    "y": 380,
    "wires": [["a08d5767f7718329"]]
  },
  {
    "id": "a08d5767f7718329",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "save data to context flow",
    "func": "flow.set(\"lastmsg_chan4\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "e8ae7a861e96a357",
    "type": "file in",
    "z": "7a76c9ed376f878b",
    "name": "get last time update table chan 5",
    "filename": "/home/nobutech/mqtt-sub/conf/lastmsg_chan5.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 450,
    "y": 440,
    "wires": [["e4091d498f821369"]]
  },
  {
    "id": "e4091d498f821369",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "save data to context flow",
    "func": "flow.set(\"lastmsg_chan5\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "b9774c94499e6a93",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 460,
    "wires": [["5929b0421302347b"]]
  },
  {
    "id": "6326827db6dcc35d",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 1",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 830,
    "y": 620,
    "wires": [["4c9c51b37c7acd3b", "bb74a374fd4f2bff"]]
  },
  {
    "id": "4c9c51b37c7acd3b",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 560,
    "wires": [["b9774c94499e6a93", "c24a9fefddb7544e", "a3d54c631226cd9f"]]
  },
  {
    "id": "06c7cc11ec68ed89",
    "type": "ui_button",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "group": "58ecdd7b712d4872",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Submit",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "payload",
    "topicType": "msg",
    "x": 2200,
    "y": 1100,
    "wires": [["d48ded4fcaadc6b8"]]
  },
  {
    "id": "d48ded4fcaadc6b8",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 8",
    "func": "var msgtmp = {};\nvar msgstate = {};\nmsgstate.channel1_state = flow.get(\"channel1_state\");\nif (msgstate.channel1_state){\n    msgstate.inter1 = flow.get(\"f_channel1_inter\");\n    msgtmp.channel1 = flow.get(\"channel1\");\n    if(msgtmp.channel1.length <= 0 ){\n        msg.payload = -1;\n        msg.highlight = RED;\n        return msg;\n    }\n    else if (msgstate.inter1 == null || msgstate.inter1 == 0){\n        msg.payload = -2;\n        msg.highlight = RED;\n        return msg;\n    }\n}\n\nmsgstate.channel2_state = flow.get(\"channel2_state\");\nif (msgstate.channel2_state) {\n    msgstate.inter2 = flow.get(\"f_channel2_inter\");\n    msgtmp.channel2 = flow.get(\"channel2\");\n    if (msgtmp.channel2.length <= 0) {\n        msg.payload = -1;\n        msg.highlight = RED;\n        return msg;\n    }\n    else if (msgstate.inter2 == null || msgstate.inter2 == 0) {\n        msg.payload = -2;\n        msg.highlight = RED;\n        return msg;\n    }\n}\n\nmsgstate.channel3_state = flow.get(\"channel3_state\");\nif (msgstate.channel3_state) {\n    msgstate.inter3 = flow.get(\"f_channel3_inter\");\n    msgtmp.channel3 = flow.get(\"channel3\");\n    if (msgtmp.channel3.length <= 0) {\n        msg.payload = -1;\n        msg.highlight = RED;\n        return msg;\n    }\n    else if (msgstate.inter3 == null || msgstate.inter3 == 0) {\n        msg.payload = -2;\n        msg.highlight = RED;\n        return msg;\n    }\n}\n\nmsgstate.channel4_state = flow.get(\"channel4_state\");\nif (msgstate.channel4_state) {\n    msgstate.inter4 = flow.get(\"f_channel4_inter\");\n    msgtmp.channel4 = flow.get(\"channel4\");\n    if (msgtmp.channel4.length <= 0) {\n        msg.payload = -1;\n        msg.highlight = RED;\n        return msg;\n    }\n    else if (msgstate.inter4 == null || msgstate.inter4 == 0) {\n        msg.payload = -2;\n        msg.highlight = RED;\n        return msg;\n    }\n}\n\nmsgstate.channel5_state = flow.get(\"channel5_state\");\nif (msgstate.channel5_state) {\n    msgstate.inter5 = flow.get(\"f_channel5_inter\");\n    msgtmp.channel5 = flow.get(\"channel5\");\n    if (msgtmp.channel5.length <= 0) {\n        msg.payload = -1;\n        msg.highlight = RED;\n        return msg;\n    }\n    else if (msgstate.inter5 == null || msgstate.inter5 == 0) {\n        msg.payload = -2;\n        msg.highlight = RED;\n        return msg;\n    }\n\n}\n\n\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2360,
    "y": 1100,
    "wires": [["ea9562b9b704fd06"]]
  },
  {
    "id": "f937469ed016ccbe",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "get all context chan1",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel1_state\", msg.payload);\n}\nelse if (msg.payload == -1) {\n\n}\nelse{\n    global.set(\"g_channel1\", msg.payload);\n    flow.set(\"channel1\", String(msg.payload));\n}\n \n\nmsgtmp.channel = flow.get(\"channel1\");\nmsgtmp.channel_state = flow.get(\"channel1_state\");\nmsgtmp.channel_inter = flow.get(\"f_channel1_inter\");\nmsgtmp.channel_sat = global.get(\"g_channel1_sat\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1480,
    "y": 500,
    "wires": [["76c1206d4ed3ca14", "aa18ce3127014647"]]
  },
  {
    "id": "76c1206d4ed3ca14",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel1.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1460,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "e14468e11fd226fc",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "read channel1.txt",
    "filename": "/home/nobutech/mqtt-sub/conf/channel1.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 310,
    "y": 500,
    "wires": [
      [
        "9a6fdb5c8ab77191",
        "8373542527b957ad",
        "e177d817f76a99d0",
        "21c2082a7cc8dbef"
      ]
    ]
  },
  {
    "id": "4ee9ccbdba2ed720",
    "type": "inject",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 70,
    "y": 1100,
    "wires": [
      [
        "e14468e11fd226fc",
        "779725709e06ccbf",
        "293b3788aed037e5",
        "f8662ef596aea12f",
        "78e5e4c48e951072"
      ]
    ]
  },
  {
    "id": "9a6fdb5c8ab77191",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "parse and save glob channel",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel1\", msg.payload);\nglobal.set(\"g_channel1\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 460,
    "wires": [["b9774c94499e6a93"]]
  },
  {
    "id": "8373542527b957ad",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "parse and save flow state",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel1_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 600,
    "wires": [["4c9c51b37c7acd3b", "6326827db6dcc35d"]]
  },
  {
    "id": "453639af0beab196",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 760,
    "wires": [["a31c3f1441d6aa1d"]]
  },
  {
    "id": "f2d282f6440298fa",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 2",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 830,
    "y": 920,
    "wires": [["126ff0bd28eb4391", "ccc02e54e14c396e"]]
  },
  {
    "id": "126ff0bd28eb4391",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 860,
    "wires": [["453639af0beab196", "0ba53e9eb857ad88", "33cea2892dea7e75"]]
  },
  {
    "id": "675e04b46a2852d9",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "get all context chan2",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel2_state\", msg.payload);\n}\nelse if(msg.payload==-1){\n\n}\nelse {\n    global.set(\"g_channel2\", msg.payload);\n    flow.set(\"channel2\", String(msg.payload));\n}\n\nmsgtmp.channel = flow.get(\"channel2\");\nmsgtmp.channel_state = flow.get(\"channel2_state\");\nmsgtmp.channel_inter = flow.get(\"f_channel2_inter\");\nmsgtmp.channel_sat = global.get(\"g_channel2_sat\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1480,
    "y": 800,
    "wires": [["572a532f5fa46858", "aa18ce3127014647"]]
  },
  {
    "id": "572a532f5fa46858",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel2.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1460,
    "y": 700,
    "wires": [[]]
  },
  {
    "id": "779725709e06ccbf",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "read channel2.txt",
    "filename": "/home/nobutech/mqtt-sub/conf/channel2.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 310,
    "y": 800,
    "wires": [
      [
        "f4e705f793bfab0f",
        "a6f03925d9d38698",
        "45e7f560ca9e1ca2",
        "1f6d2f1455ba2fa9"
      ]
    ]
  },
  {
    "id": "f4e705f793bfab0f",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 17",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel2\", msg.payload);\nglobal.set(\"g_channel2\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 760,
    "wires": [["453639af0beab196"]]
  },
  {
    "id": "a6f03925d9d38698",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 18",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel2_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 900,
    "wires": [["126ff0bd28eb4391", "f2d282f6440298fa"]]
  },
  {
    "id": "61da420f0b9ce9e0",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 1060,
    "wires": [["84b7833f4f584478"]]
  },
  {
    "id": "1b5c694af22289d4",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 3",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 830,
    "y": 1220,
    "wires": [["9a68f33a7b981a15", "5ecd04529cb8a9c7"]]
  },
  {
    "id": "9a68f33a7b981a15",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 1160,
    "wires": [["61da420f0b9ce9e0", "9dde28a70b9eaf70", "00eb24da4b25721e"]]
  },
  {
    "id": "b03bc9314643451e",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "get all context chan3",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel3_state\", msg.payload);\n}\nelse if (msg.payload == -1) {\n\n}\nelse {\n    global.set(\"g_channel3\", msg.payload);\n    flow.set(\"channel3\", String(msg.payload));\n}\n\nmsgtmp.channel = flow.get(\"channel3\");\nmsgtmp.channel_state = flow.get(\"channel3_state\");\nmsgtmp.channel_inter = flow.get(\"f_channel3_inter\");\nmsgtmp.channel_sat = global.get(\"g_channel3_sat\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1480,
    "y": 1100,
    "wires": [["dde386c4be36f76a", "aa18ce3127014647"]]
  },
  {
    "id": "dde386c4be36f76a",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel3.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1460,
    "y": 1000,
    "wires": [[]]
  },
  {
    "id": "293b3788aed037e5",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "read channel3.txt",
    "filename": "/home/nobutech/mqtt-sub/conf/channel3.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 310,
    "y": 1100,
    "wires": [
      [
        "648c48edc4c38cc9",
        "626d041d65bb6550",
        "f4170e1f99c19b3c",
        "c0e8c0157dcadcee"
      ]
    ]
  },
  {
    "id": "648c48edc4c38cc9",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 20",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel3\", msg.payload);\nglobal.set(\"g_channel3\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1060,
    "wires": [["61da420f0b9ce9e0"]]
  },
  {
    "id": "626d041d65bb6550",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 21",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel3_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1200,
    "wires": [["9a68f33a7b981a15", "1b5c694af22289d4"]]
  },
  {
    "id": "8a93b692e96e6ffd",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 1360,
    "wires": [["26591e951d888692"]]
  },
  {
    "id": "6e62d8a0ff4eec4e",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 4",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 830,
    "y": 1520,
    "wires": [["148a5ad98163f28e", "79bb82b60376d4f6"]]
  },
  {
    "id": "148a5ad98163f28e",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 1460,
    "wires": [["8a93b692e96e6ffd", "6a9ad735df18e569", "d5cbab08fbd10568"]]
  },
  {
    "id": "f8b232585370eb1e",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "get all context chan4",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel4_state\", msg.payload);\n}\nelse if (msg.payload == -1) {\n\n}\nelse {\n    global.set(\"g_channel4\", msg.payload);\n    flow.set(\"channel4\", String(msg.payload));\n}\n\nmsgtmp.channel = flow.get(\"channel4\");\nmsgtmp.channel_state = flow.get(\"channel4_state\");\nmsgtmp.channel_inter = flow.get(\"f_channel4_inter\");\nmsgtmp.channel_sat = global.get(\"g_channel4_sat\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1480,
    "y": 1400,
    "wires": [["19a5a44354745c31", "aa18ce3127014647"]]
  },
  {
    "id": "19a5a44354745c31",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel4.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1460,
    "y": 1300,
    "wires": [[]]
  },
  {
    "id": "f8662ef596aea12f",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "read channel4.txt",
    "filename": "/home/nobutech/mqtt-sub/conf/channel4.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 310,
    "y": 1400,
    "wires": [
      [
        "d13c3992bd5fa083",
        "c18aac44e57fce1a",
        "d4ba7a142573cb5e",
        "44350b0b52d976ef"
      ]
    ]
  },
  {
    "id": "d13c3992bd5fa083",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 23",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel4\", msg.payload);\nglobal.set(\"g_channel4\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1360,
    "wires": [["8a93b692e96e6ffd"]]
  },
  {
    "id": "c18aac44e57fce1a",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 24",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel4_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1500,
    "wires": [["148a5ad98163f28e", "6e62d8a0ff4eec4e"]]
  },
  {
    "id": "d58834deced47463",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "58ecdd7b712d4872",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 1660,
    "wires": [["bebf676faab14e47"]]
  },
  {
    "id": "bc4b93cb9b90153e",
    "type": "ui_switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "Channel 5",
    "tooltip": "",
    "group": "f8cfa3167fc6f8ad",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 830,
    "y": 1820,
    "wires": [["16c1cf228ff98c6f", "256edac9d512c862"]]
  },
  {
    "id": "16c1cf228ff98c6f",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 1760,
    "wires": [["d58834deced47463", "680e30ba7d938e41", "75cbf84d9d715e0a"]]
  },
  {
    "id": "bcd06ccecec30bba",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "get all context chan5",
    "func": "var msgtmp = {};\n\nif(typeof msg.payload==\"boolean\"){\n    flow.set(\"channel5_state\", msg.payload);\n}\nelse if (msg.payload == -1) {\n\n}\nelse {\n    global.set(\"g_channel5\", msg.payload);\n    flow.set(\"channel5\", String(msg.payload));\n}\n\nmsgtmp.channel = flow.get(\"channel5\");\nmsgtmp.channel_state = flow.get(\"channel5_state\");\nmsgtmp.channel_inter = flow.get(\"f_channel5_inter\");\nmsgtmp.channel_sat = global.get(\"g_channel5_sat\");\nmsg.payload = msgtmp;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1480,
    "y": 1700,
    "wires": [["819fe77c9813a4c5", "aa18ce3127014647"]]
  },
  {
    "id": "819fe77c9813a4c5",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel5.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 1460,
    "y": 1600,
    "wires": [[]]
  },
  {
    "id": "78e5e4c48e951072",
    "type": "file in",
    "z": "f8aa2faa21c8a9a9",
    "name": "read channel5.txt",
    "filename": "/home/nobutech/mqtt-sub/conf/channel5.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 310,
    "y": 1700,
    "wires": [
      [
        "8910480ae83e4589",
        "ed5f3a5b70371059",
        "c2aaf9c0a3c54ca0",
        "259d0bb4f67faf1c"
      ]
    ]
  },
  {
    "id": "8910480ae83e4589",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 26",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel;\n\nflow.set(\"channel5\", msg.payload);\nglobal.set(\"g_channel5\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1660,
    "wires": [["d58834deced47463"]]
  },
  {
    "id": "ed5f3a5b70371059",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 27",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_state;\n\nflow.set(\"channel5_state\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1800,
    "wires": [["16c1cf228ff98c6f", "bc4b93cb9b90153e"]]
  },
  {
    "id": "aa18ce3127014647",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "enablle button",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1960,
    "y": 1100,
    "wires": [["06c7cc11ec68ed89"]]
  },
  {
    "id": "d71ad9bffdebba62",
    "type": "change",
    "z": "f8aa2faa21c8a9a9",
    "name": "disable button",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2360,
    "y": 1220,
    "wires": [["06c7cc11ec68ed89"]]
  },
  {
    "id": "734fa411266297c6",
    "type": "inject",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1970,
    "y": 1220,
    "wires": [["d71ad9bffdebba62"]]
  },
  {
    "id": "a003f8a5e4a97846",
    "type": "file",
    "z": "f8aa2faa21c8a9a9",
    "name": "storage",
    "filename": "/home/nobutech/mqtt-sub/conf/channel_opt.txt",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 2700,
    "y": 1180,
    "wires": [[]]
  },
  {
    "id": "a9a1afb4e7511c0a",
    "type": "link out",
    "z": "f8aa2faa21c8a9a9",
    "name": "link out 1",
    "mode": "link",
    "links": ["429fab375915e513"],
    "x": 2655,
    "y": 1120,
    "wires": []
  },
  {
    "id": "c24a9fefddb7544e",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "ac5eb0f6304042fb",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 540,
    "wires": [["8fe55aaa0a2b1277"]]
  },
  {
    "id": "0ba53e9eb857ad88",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "ac5eb0f6304042fb",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 840,
    "wires": [["a4abc5d389d647cf"]]
  },
  {
    "id": "9dde28a70b9eaf70",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "ac5eb0f6304042fb",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 1140,
    "wires": [["902994bd07084455"]]
  },
  {
    "id": "6a9ad735df18e569",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "ac5eb0f6304042fb",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 1440,
    "wires": [["36e9067638c02e75"]]
  },
  {
    "id": "680e30ba7d938e41",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "ac5eb0f6304042fb",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1060,
    "y": 1740,
    "wires": [["b1b3cfaf0acb61ff"]]
  },
  {
    "id": "f85f0a7d536ae199",
    "type": "ui_toast",
    "z": "f8aa2faa21c8a9a9",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 1,
    "ok": "Ok",
    "cancel": "",
    "raw": false,
    "topic": "Nama channel yang aktif tidak dapat kosong.",
    "name": "",
    "x": 2710,
    "y": 1000,
    "wires": [[]]
  },
  {
    "id": "ea9562b9b704fd06",
    "type": "switch",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "-1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "-2",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 2510,
    "y": 1100,
    "wires": [
      ["f85f0a7d536ae199"],
      ["1b71c402633c70fc"],
      ["a9a1afb4e7511c0a", "a003f8a5e4a97846", "d71ad9bffdebba62"]
    ]
  },
  {
    "id": "a4abc5d389d647cf",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 33",
    "func": "global.set(\"g_channel2_sat\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 840,
    "wires": [["675e04b46a2852d9"]]
  },
  {
    "id": "8fe55aaa0a2b1277",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 34",
    "func": "global.set(\"g_channel1_sat\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 540,
    "wires": [["f937469ed016ccbe"]]
  },
  {
    "id": "902994bd07084455",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 35",
    "func": "global.set(\"g_channel3_sat\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 1140,
    "wires": [["b03bc9314643451e"]]
  },
  {
    "id": "36e9067638c02e75",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 36",
    "func": "global.set(\"g_channel4_sat\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 1440,
    "wires": [["f8b232585370eb1e"]]
  },
  {
    "id": "b1b3cfaf0acb61ff",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 37",
    "func": "global.set(\"g_channel5_sat\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 1740,
    "wires": [["bcd06ccecec30bba"]]
  },
  {
    "id": "e177d817f76a99d0",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "parse and save flow satuan",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_sat;\n\nglobal.set(\"g_channel1_sat\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 540,
    "wires": [["c24a9fefddb7544e"]]
  },
  {
    "id": "45e7f560ca9e1ca2",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 39",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_sat;\n\nglobal.set(\"g_channel2_sat\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 840,
    "wires": [["0ba53e9eb857ad88"]]
  },
  {
    "id": "f4170e1f99c19b3c",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 40",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_sat;\n\nglobal.set(\"g_channel3_sat\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1140,
    "wires": [["9dde28a70b9eaf70"]]
  },
  {
    "id": "d4ba7a142573cb5e",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 41",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_sat;\n\nglobal.set(\"g_channel4_sat\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1440,
    "wires": [["6a9ad735df18e569"]]
  },
  {
    "id": "c2aaf9c0a3c54ca0",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 42",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_sat;\n\nglobal.set(\"g_channel5_sat\", msg.payload);\n\n// expected output: true\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 1740,
    "wires": [["680e30ba7d938e41"]]
  },
  {
    "id": "21c2082a7cc8dbef",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "parse and save flow inter",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_inter;\n\nflow.set(\"f_channel1_inter\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 400,
    "wires": [["a3d54c631226cd9f"]]
  },
  {
    "id": "a3d54c631226cd9f",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "e460d696bc22f4e3",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "number",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1070,
    "y": 400,
    "wires": [["2f4ec5eef083ad75"]]
  },
  {
    "id": "2f4ec5eef083ad75",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 60",
    "func": "flow.set(\"f_channel1_inter\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 400,
    "wires": [["f937469ed016ccbe"]]
  },
  {
    "id": "1b71c402633c70fc",
    "type": "ui_toast",
    "z": "f8aa2faa21c8a9a9",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 1,
    "ok": "Ok",
    "cancel": "",
    "raw": false,
    "topic": "Interval channel yang aktif tidak dapat kosong atau 0.",
    "name": "",
    "x": 2710,
    "y": 1060,
    "wires": [[]]
  },
  {
    "id": "1f6d2f1455ba2fa9",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "parse and save flow inter",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_inter;\n\nflow.set(\"f_channel2_inter\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 700,
    "wires": [["33cea2892dea7e75"]]
  },
  {
    "id": "33cea2892dea7e75",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "e460d696bc22f4e3",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "number",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1070,
    "y": 700,
    "wires": [["971862508dc65b2a"]]
  },
  {
    "id": "971862508dc65b2a",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 61",
    "func": "flow.set(\"f_channel2_inter\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 700,
    "wires": [["675e04b46a2852d9"]]
  },
  {
    "id": "c0e8c0157dcadcee",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "parse and save flow inter",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_inter;\n\nflow.set(\"f_channel3_inter\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 1000,
    "wires": [["00eb24da4b25721e"]]
  },
  {
    "id": "00eb24da4b25721e",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "e460d696bc22f4e3",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "number",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1070,
    "y": 1000,
    "wires": [["3458c2657ba39f01"]]
  },
  {
    "id": "3458c2657ba39f01",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 62",
    "func": "flow.set(\"f_channel3_inter\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 1000,
    "wires": [["b03bc9314643451e"]]
  },
  {
    "id": "44350b0b52d976ef",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "parse and save flow inter",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_inter;\n\nflow.set(\"f_channel4_inter\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 1300,
    "wires": [["d5cbab08fbd10568"]]
  },
  {
    "id": "d5cbab08fbd10568",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "e460d696bc22f4e3",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "number",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1070,
    "y": 1300,
    "wires": [["97339b450ac626b7"]]
  },
  {
    "id": "97339b450ac626b7",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 63",
    "func": "flow.set(\"f_channel4_inter\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 1300,
    "wires": [["f8b232585370eb1e"]]
  },
  {
    "id": "259d0bb4f67faf1c",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "parse and save flow inter",
    "func": "const json = msg.payload;\nconst obj = JSON.parse(json);\n\nmsg.payload = obj.channel_inter;\n\nflow.set(\"f_channel5_inter\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 1600,
    "wires": [["75cbf84d9d715e0a"]]
  },
  {
    "id": "75cbf84d9d715e0a",
    "type": "ui_text_input",
    "z": "f8aa2faa21c8a9a9",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "e460d696bc22f4e3",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "number",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 1070,
    "y": 1600,
    "wires": [["7cf0a483e6595ecd"]]
  },
  {
    "id": "7cf0a483e6595ecd",
    "type": "function",
    "z": "f8aa2faa21c8a9a9",
    "name": "function 64",
    "func": "flow.set(\"f_channel5_inter\", msg.payload);\nmsg.payload = -1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 1600,
    "wires": [["bcd06ccecec30bba"]]
  }
]
