nodered.json
[
  {
    "id": "7a76c9ed376f878b",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "c70c04a37b589081",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "3f8fcdbdd2b99540",
    "type": "postgreSQLConfig",
    "name": "",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "dbnobutech",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "nobutech",
    "userFieldType": "str",
    "password": "nobutech123",
    "passwordFieldType": "str"
  },
  {
    "id": "532b0b27072d2d5c",
    "type": "ui_tab",
    "name": "Configurasi",
    "icon": "build",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "687bbcc2f78d2a05",
    "type": "ui_group",
    "name": "Kalibrasi Sensor",
    "tab": "532b0b27072d2d5c",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "b833d10661ee37bb",
    "type": "ui_group",
    "name": "Disable",
    "tab": "532b0b27072d2d5c",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "a40b362f83237932",
    "type": "ui_tab",
    "name": "Monitoring",
    "icon": "tv",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "1c22e06c4955860c",
    "type": "ui_group",
    "name": "Temperature",
    "tab": "a40b362f83237932",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "59afac2401a354b3",
    "type": "ui_tab",
    "name": "Table",
    "icon": "dashboard",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "62e97c2814b1e144",
    "type": "ui_group",
    "name": "Group 1",
    "tab": "59afac2401a354b3",
    "order": 1,
    "disp": true,
    "width": 6
  },
  {
    "id": "f063f307f24ddc9a",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#1800cc",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#1800cc",
          "edited": true
        },
        "page-titlebar-backgroundColor": {
          "value": "#1800cc",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#333333",
          "edited": false
        },
        "group-textColor": {
          "value": "#341aff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#1800cc",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "Nobutech Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "true",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "5a3bf1e3aa1d21da",
    "type": "inject",
    "z": "7a76c9ed376f878b",
    "d": true,
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 120,
    "wires": [["d658dec3302c5bcd"]]
  },
  {
    "id": "d658dec3302c5bcd",
    "type": "random",
    "z": "7a76c9ed376f878b",
    "name": "",
    "low": 1,
    "high": "20",
    "inte": "true",
    "property": "payload",
    "x": 300,
    "y": 120,
    "wires": [["8ec62862eefcc817"]]
  },
  {
    "id": "8ec62862eefcc817",
    "type": "mqtt out",
    "z": "7a76c9ed376f878b",
    "name": "",
    "topic": "/device1/temp",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c70c04a37b589081",
    "x": 500,
    "y": 120,
    "wires": []
  },
  {
    "id": "5c59e0de27540622",
    "type": "inject",
    "z": "7a76c9ed376f878b",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 260,
    "wires": [["4192e14c35c5d16f"]]
  },
  {
    "id": "e70a2c793489fff3",
    "type": "ui_chart",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "1c22e06c4955860c",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "50",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 810,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "c30447212ce54d88",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 1",
    "func": "var msgtemp = context.get(\"lastmsg\");\n\nif (msgtemp === String(msg.payload[0].instime)) {\n    msg.payload = 0;\n}\nelse {\n    msgtemp = String(msg.payload[0].instime);\n    msg.payload = msg.payload[0].message\n    context.set(\"lastmsg\", msgtemp);\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 260,
    "wires": [["f35b253cbf479b5a"]]
  },
  {
    "id": "4192e14c35c5d16f",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "Select message, instime from mqdata where topic='/device1/temp' order by instime desc limit 1;",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 350,
    "y": 260,
    "wires": [["c30447212ce54d88"]]
  },
  {
    "id": "f4b1386bab12c6b5",
    "type": "ui_form",
    "z": "7a76c9ed376f878b",
    "name": "",
    "label": "Kalibrasi sensor y = ax + b",
    "group": "687bbcc2f78d2a05",
    "order": 2,
    "width": 0,
    "height": 0,
    "options": [
      {
        "label": "Variabel A",
        "value": "aval",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Variabel B",
        "value": "bval",
        "type": "text",
        "required": true,
        "rows": null
      }
    ],
    "formValue": {
      "aval": "",
      "bval": ""
    },
    "payload": "",
    "submit": "Submit",
    "cancel": "",
    "topic": "topic",
    "topicType": "msg",
    "splitLayout": "",
    "x": 120,
    "y": 620,
    "wires": [["f52fa43f3cb5e31c", "e1d2383f62873d1b"]]
  },
  {
    "id": "78f1cc521a7208c0",
    "type": "ui_text",
    "z": "7a76c9ed376f878b",
    "group": "1c22e06c4955860c",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Current Value",
    "format": "{{msg.payload}} °C",
    "layout": "row-spread",
    "x": 840,
    "y": 340,
    "wires": []
  },
  {
    "id": "8184c3de912f2291",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "INSERT INTO calib (aval, bval, topic) VALUES({{msg.payload.aval}}, {{msg.payload.bval}}, '/device1/{{msg.payload.top}}');",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": "1",
    "outputs": 1,
    "x": 570,
    "y": 900,
    "wires": [[]]
  },
  {
    "id": "f52fa43f3cb5e31c",
    "type": "ui_dropdown",
    "z": "7a76c9ed376f878b",
    "name": "",
    "label": "",
    "tooltip": "",
    "place": "Select option",
    "group": "687bbcc2f78d2a05",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "temperature",
        "value": "temp",
        "type": "str"
      },
      {
        "label": "humidity",
        "value": "hum",
        "type": "str"
      },
      {
        "label": "co2",
        "value": "co2",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "x": 100,
    "y": 500,
    "wires": [["e1d2383f62873d1b"]]
  },
  {
    "id": "e2e1f0b4ef93fcba",
    "type": "debug",
    "z": "7a76c9ed376f878b",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 840,
    "wires": []
  },
  {
    "id": "e1d2383f62873d1b",
    "type": "join",
    "z": "7a76c9ed376f878b",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 330,
    "y": 480,
    "wires": [["476817dc72e47a22"]]
  },
  {
    "id": "476817dc72e47a22",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 2",
    "func": "if (msg.payload[0] === \"co2\" || msg.payload[0] === \"temp\" || msg.payload[0] === \"hum\"){\n    if(typeof msg.payload[1].aval==\"string\"){\n        var datasen = {};\n        datasen.top = String(msg.payload[0]);\n        datasen.aval = Number(msg.payload[1].aval);\n        datasen.bval = Number(msg.payload[1].bval);\n        if (isNaN(datasen.aval)|| isNaN(datasen.bval)){\n            msg.payload = -1;\n            return msg;\n        }\n        msg.payload = datasen;\n        return msg;\n    }\n    msg.payload = -2;\n    return msg;\n\n}\nelse{\n    msg.payload = -3;\n    return msg;\n}\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 460,
    "wires": [["60373104a928f778"]]
  },
  {
    "id": "6c013a1f592c76b3",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 750,
    "y": 580,
    "wires": []
  },
  {
    "id": "60373104a928f778",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "-1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "-2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "-3",
        "vt": "str"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 390,
    "y": 600,
    "wires": [
      ["f52fa43f3cb5e31c", "54feedc6fbf709ca"],
      ["7b06ddc92da2c639", "f52fa43f3cb5e31c"],
      ["38ecb81edc5832ce", "f52fa43f3cb5e31c"],
      ["e2e1f0b4ef93fcba", "95bf2912ad046756", "8184c3de912f2291"]
    ]
  },
  {
    "id": "87cc84cd73cb9e8e",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "succes",
    "name": "",
    "x": 750,
    "y": 780,
    "wires": []
  },
  {
    "id": "95bf2912ad046756",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 3",
    "func": "msg.payload = 'Success Submit Data';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 780,
    "wires": [["87cc84cd73cb9e8e"]]
  },
  {
    "id": "54feedc6fbf709ca",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 4",
    "func": "msg.payload = 'Gunakan Titik ( . ) Untuk Angka Desimal';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 580,
    "wires": [["6c013a1f592c76b3"]]
  },
  {
    "id": "2f61e10233098d9f",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 750,
    "y": 620,
    "wires": []
  },
  {
    "id": "7b06ddc92da2c639",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 5",
    "func": "msg.payload = 'Memilih Sensor Cukup Sekali';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 620,
    "wires": [["2f61e10233098d9f"]]
  },
  {
    "id": "f46a635029ee3e23",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Failed",
    "name": "",
    "x": 750,
    "y": 680,
    "wires": []
  },
  {
    "id": "38ecb81edc5832ce",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 6",
    "func": "msg.payload = 'Silakan Pilih Jenis Sensor Terlebih Dahulu';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 680,
    "wires": [["f46a635029ee3e23"]]
  },
  {
    "id": "c0aa0ca0d5681dbd",
    "type": "ui_button",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "687bbcc2f78d2a05",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Reset Kalibrasi",
    "tooltip": "",
    "color": "white",
    "bgcolor": "red",
    "icon": "undo",
    "payload": "Kalibrasi tiap sensor akan kembali ke dafault ( A = 1, B = 0)",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 120,
    "y": 980,
    "wires": [["9a45ca57f4dfaa40"]]
  },
  {
    "id": "9a45ca57f4dfaa40",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 1,
    "ok": "Ya",
    "cancel": "Tidak",
    "raw": false,
    "topic": "Apakah anda yakin ingin reset konfig kalibrasi?",
    "name": "",
    "x": 290,
    "y": 980,
    "wires": [["a5c16cf0b59261c3"]]
  },
  {
    "id": "83348bf568c25689",
    "type": "ui_toast",
    "z": "7a76c9ed376f878b",
    "position": "top right",
    "displayTime": "3",
    "highlight": "green",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "succes",
    "name": "",
    "x": 750,
    "y": 940,
    "wires": []
  },
  {
    "id": "a5c16cf0b59261c3",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Ya",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Tidak",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 430,
    "y": 980,
    "wires": [["89177a3674f364e9"], []]
  },
  {
    "id": "89177a3674f364e9",
    "type": "function",
    "z": "7a76c9ed376f878b",
    "name": "function 7",
    "func": "msg.payload = 'Konfigurasi Kembali ke default';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 960,
    "wires": [["83348bf568c25689", "a53de942f34c5676"]]
  },
  {
    "id": "a53de942f34c5676",
    "type": "postgresql",
    "z": "7a76c9ed376f878b",
    "name": "",
    "query": "INSERT INTO calib (aval, bval, topic) VALUES(1, 0, '/device1/temp');\nINSERT INTO calib (aval, bval, topic) VALUES(1, 0, '/device1/hum');\nINSERT INTO calib (aval, bval, topic) VALUES(1, 0, '/device1/co2');",
    "postgreSQLConfig": "3f8fcdbdd2b99540",
    "split": false,
    "rowsPerMsg": "1",
    "outputs": 1,
    "x": 730,
    "y": 1000,
    "wires": [[]]
  },
  {
    "id": "0656c3bcab2097fb",
    "type": "ui_dropdown",
    "z": "7a76c9ed376f878b",
    "name": "",
    "label": "Select",
    "tooltip": "",
    "place": "Select option",
    "group": "b833d10661ee37bb",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "Topic 1",
        "value": "Topic 1",
        "type": "str"
      },
      {
        "label": "Topic 2",
        "value": 2,
        "type": "num"
      },
      {
        "label": "Topic 3",
        "value": true,
        "type": "bool"
      }
    ],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "x": 1310,
    "y": 360,
    "wires": [["96a34a227b422503"]]
  },
  {
    "id": "96a34a227b422503",
    "type": "debug",
    "z": "7a76c9ed376f878b",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1500,
    "y": 360,
    "wires": []
  },
  {
    "id": "d3095efd0bba743b",
    "type": "ui_button",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "b833d10661ee37bb",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Select 1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Topic 1",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 1160,
    "y": 360,
    "wires": [["0656c3bcab2097fb"]]
  },
  {
    "id": "826b78e1bf635352",
    "type": "ui_button",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "b833d10661ee37bb",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Select 2",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "2",
    "payloadType": "num",
    "topic": "topic",
    "topicType": "msg",
    "x": 1160,
    "y": 420,
    "wires": [["0656c3bcab2097fb"]]
  },
  {
    "id": "15b3e3687c5f9e50",
    "type": "ui_button",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "b833d10661ee37bb",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Select 3",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "topic",
    "topicType": "msg",
    "x": 1160,
    "y": 480,
    "wires": [["0656c3bcab2097fb"]]
  },
  {
    "id": "77ad5200130a2064",
    "type": "ui_button",
    "z": "7a76c9ed376f878b",
    "name": "",
    "group": "b833d10661ee37bb",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Change Selection",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 1190,
    "y": 580,
    "wires": [["63987f7faa6f6746"]]
  },
  {
    "id": "63987f7faa6f6746",
    "type": "change",
    "z": "7a76c9ed376f878b",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "options",
        "pt": "msg",
        "to": "[{\"temperature\":\"temp\",\"co2\":\"co2\",\"humidity\":\"hum\"}]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1420,
    "y": 580,
    "wires": [["0656c3bcab2097fb"]]
  },
  {
    "id": "f35b253cbf479b5a",
    "type": "switch",
    "z": "7a76c9ed376f878b",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 260,
    "wires": [[], ["e70a2c793489fff3", "78f1cc521a7208c0"]]
  }
]
